<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Buzz</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<body>
	<div style="margin-left: 20px">
		<h1 class="mb-4">Buzz</h1>
		<form class="form-group">
			<div class="row">
				<input placeholder="id de la salle" id="inputIdRoom">
			</div>
			<div class="row">
				<button type="button" id="buttonCreate">Creer la salle</button>
				<button type="button" id="buttonJoin">Rejoindre la salle</button>
			</div>
		</form>
	</div>
</body>

<script>

	sessionStorage.clear();

	var ws = new WebSocket("ws://127.0.0.1:5000");

	ws.onmessage = (raw)=>{
		let data = JSON.parse(raw.data);
		switch (data.type) {
			case 'create':
				if(data.result == 'ok')
					create(data);
				else if(data.result == 'exist')
					alert('La salle existe deja');
				break;
			case 'join':
				if(data.result == 'ok')
					join(data);
				else
					alert("La salle n'existe pas ou elle est pleine");
				break;
		}
	}

	var buttonCreate = document.getElementById("buttonCreate");
	var buttonJoin = document.getElementById("buttonJoin");

	var pseudo = '';

	buttonCreate.onclick = () => {
		let idRoom = document.getElementById("inputIdRoom").value;
		let msg = {
			type: 'create',
			id: idRoom
		}

		ws.send(JSON.stringify(msg));
	}

	buttonJoin.onclick = () => {
		let idRoom = document.getElementById("inputIdRoom").value;
		pseudo = prompt("pseudo: ");
		let msg = {
			type: 'join',
			id: idRoom,
			pseudo : pseudo
		}

		ws.send(JSON.stringify(msg));
	}

	function create(data)
	{
		sessionStorage.setItem('idRoom', data.id);
		sessionStorage.setItem('playerId', data.playerId);
		let idRoom = data.id;
		//TODO menu de conf qui s'affiche

		run(idRoom);
	}

	function join(data){
		let idRoom = data.id;
		sessionStorage.setItem('idRoom', idRoom);
		sessionStorage.setItem('playerId', data.playerId);

		run(idRoom);
	}

	function run(idRoom)
	{
		window.location.href = '/' + idRoom;
	}
</script>

</html>